@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
}
nav {
    background-color: rgba(252, 231, 202, 0.948);
    padding: 10px;
    /* position: sticky; */
    width: 100%;

}



ul li {
    list-style: none;
    display: inline;
    padding: 25px;
    font-size: 25px;
}

ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ec7272b6;
}

.container {
    background-color: green;
    padding: 55px 23px;
    margin: 20px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}


.box1 {
    width: 40%;
    height: 70vh;
    background-color: #e7db5c;
    display: inline-block;
    margin: 5px 22px;

}

.box2 {
    width: 40%;
    height: 70vh;
    background-color: #e5942a;
    display: inline-block;
    margin: 5px 22px;

}


.web1 {
    padding-top: 25px;


}

.web2 {
    padding-top: 25px;
    padding-bottom: 25px;
}


.orange-box {
    height: 32px;
    width: 32px;
    background: orange;
    position: fixed;
    bottom: 12px;
    right: 23px;
    border-radius: 60px;
}

.webdev {

    padding: 34px;
    border: 2px solid rgb(230, 116, 88);
    margin: 50px 34vw;
    font-size: 2em;
    border-radius: 13px;
    background-color: rgba(252, 231, 202, 0.948);


}


footer {
    height: 50px;
    width: 100%;
    background-color:rgba(252, 231, 202, 0.948);
}